@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Variables base para coherencia */

:root {
  --main-color: #832cc9;         /* púrpura oscuro sensual */
  --accent-color: #f3e8ff;       /* lavanda suave */
  --text-dark: #272411;          /* gris oscuro */
  --text-light: #9ca3af;         /* gris claro */
  --bg-light: #ffffff;           /* blanco */
  --bg-soft: #faf5ff;            /* lavanda pastel */
  --border-radius: 10px;
  --transition: all 0.3s ease;
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Reset básico */

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-soft);
  color: var(--text-dark);
  line-height: 1.6;
}

/* Formularios */

form {
  background-color: #ffffff42;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-soft);
  max-width: 550px;
  margin: 1rem auto;
  transition: var(--transition);
}

form h2,
form h3 {
  color: var(--main-color);
  margin-bottom: 1.5rem;
  font-weight: 600;
}

/* Inputs y selects */

input[type="text"],
input[type="range"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  width: 400px;
  border: 1px solid var(--text-light);
  border-radius: var(--border-radius);
  background: white;
  color: var(--text-dark);
  font-size: 0.75rem;
  transition: var(--transition);
  margin-bottom: 1rem;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 2px rgba(107, 33, 168, 0.3);
  outline: none;
}

/* Botones */

button {
  background-color: rgb(189, 187, 186);
  color: white;
  border: none;
  padding: 0.50rem 1rem;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  cursor: pointer;
  transition: var(--transition);
  font-weight: 300;
}

button:hover {
  background-color: #d441bc;
}

/* Labels */

label {
  display: block;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #272411;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.0px;
  transition: all 0.3s ease;
}

label:hover {
  color: #d441bc;
  transform: scale(1.02);
}

/* Spinner */

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Mensajes */

.message {
  padding: 1rem;
  border-radius: var(--border-radius);
  margin-top: 1rem;
  font-weight: 500;
}

.message--error {
  background-color: #fee2e2;
  color: #991b1b;
}

.message--success {
  background-color: #ecfdf5;
  color: #065f46;
}

